
:root{
    --main--color: #dc3545;
    --black-color: #1a1616;
    --border: 0.1rem solid rgba(255,255,255,0.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: #fef3e6;
    height: 100vh;
    margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
    
}
.üyelik_sayfası{
    background: url(../image/login-bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 213vh;
    align-items: flex-start;
    justify-content: center;
}
.cerceve {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.üyelik_sayfası .cerceve {
    width: 40rem;
    height: 50rem;
    background-color: white;
    margin-left: 90rem;
    border-radius: 1rem;
    margin-top: 8rem;
    
}
.cerceve .logo img{
    margin-top: 20px;
    height: 10rem;
    width: auto;

    
    
}
button {
    background-color: var(--main--color); /* Arkaplan rengi şeffaf */
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Geçiş efekti */
    color: #ffffff; 
}

.butonlar {
    margin-top: 1rem;
    display: flex;
}
button:hover {
    background-color: black;  
    color: white;  
    border-radius: 1rem;
}
.üyegirişi, .üyeol{
    background-color: transparent;
    color: black;
    font-size: 2rem;
    padding: 10px 20px;
    margin: 0 5px;
}
.üyeol:active,
.üyegirişi:active {
    background-color: var(--black-color);
    color: white;
}
.button-separator {
    border-right: 1px solid #000; /* Çizgi rengi ve kalınlığı */
    margin: 0 10px; /* Çizgi ile butonlar arasındaki boşluk */
    height: 5rem;  
  }

  .textbox-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.textbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.textbox img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.textbox input:focus {
    border-color: var(--main--color); /* Odaklandığında kenarlığın rengini değiştir */
}
.userlogo , .locklogo{
width: 2rem;
height: auto;
}
.giris-yap {
    background-color: var(--main--color);
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
    width: 100%; /* Textbox genişliğine uyacak şekilde */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.giris-yap:hover {
    background-color: var(--black-color);
}



/* script login elemanları için css */
 

#formContainer form {
    max-width: 300px;
    margin: 0 auto;
}

#formContainer label {
    display: block;
    margin-bottom: 8px;
}

#formContainer input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: solid 1px;
    border-radius: 1rem;
}

#formContainer button {
    background-color: var(--main--color);
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
   
}

#formContainer button:hover {
    background-color: var(--black-color);
    border-radius: 1rem;
}

#formContainer button:active{
    background-color: #dc3545;
}



.js1-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.js1 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.js1 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.js1 input {
    
    width: 100%;
    margin-left: 1rem;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}



 